@page "/reportviewer"
@using ActivosControles.util.Respuesta;
@using Telerik.ReportViewer.Blazor
@inject Blazored.SessionStorage.ISessionStorageService session
@layout MainLayout

<PageTitle>Definición de Tipos</PageTitle>

<style>
    .trv-report-viewer {
        width: 1300px;
        height: 880px;
    }

    .report-container {
        text-align: center;
        margin: 20px;
    }

    .report-header {
        margin-bottom: 20px;
    }

        .report-header h1 {
            margin-bottom: 10px;
        }

        .report-header p {
            font-size: 1.2em;
            color: #555;
        }

    .button-container {
        margin-bottom: 20px;
    }

    .table-container {
        margin: 20px auto;
        width: 80%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f4f4f4;
    }
</style>

<div class="report-container">
    <div class="report-header">
        <h1>Definición de Tipos</h1>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Activo</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Certificados SSL</td>
                    <td>[PKI] PKI - infraestructura de clave pública</td>
                </tr>
                <tr>
                    <td>Archivos de comunicación</td>
                    <td>[edi] intercambio electrónico de datos</td>
                </tr>
                <tr>
                    <td>Dominios y subdominios</td>
                    <td>[www] world wide web</td>
                </tr>
                <tr>
                    <td>Documentos</td>
                    <td>[file] almacenamiento de ficheros</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="button-container">
        <EditForm Model="@this">
            <button type="button" class="btn btn-primary" @onclick="UpdateReport">Generar Reporte</button>
        </EditForm>
    </div>

    @if (estado == 1)
    {
        <ReportViewer @ref="reportViewer"
                      ViewerId="rv1"
                      ServiceUrl="/api/reports"
                      ScaleMode="@(ScaleMode.Specific)"
                      Scale="1.0"
                      EnableAccessibility="true" />
    }
</div>

@code {
    private ReportViewer reportViewer;
    private usuariosesion sesionusua = new usuariosesion();
    private int estado;

    protected override async Task OnInitializedAsync()
    {
        await inicializarListaAsync();
    }

    private async Task inicializarListaAsync()
    {
        try
        {
            sesionusua = await session.GetItemAsync<usuariosesion>("SesionUsuario");

            if (sesionusua == null)
            {
                // Manejar el caso donde la sesión no se recupera correctamente
                Console.WriteLine("No se pudo recuperar la sesión del usuario.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al recuperar la sesión del usuario: {ex.Message}");
        }
    }

    void UpdateReport()
    {
        int or_codigo;
        int us_codigo;
        estado = 1;

        if (!int.TryParse(sesionusua.or_id, out or_codigo))
        {
            or_codigo = 0;
        }

        if (!int.TryParse(sesionusua.us_id, out us_codigo))
        {
            us_codigo = 0;
        }

        try
        {
            if (reportViewer != null)
            {
                var reporte = new ReportSourceOptions
                    {
                        Report = "SampleReport.trdp",
                        Parameters = new Dictionary<string, object>
                    {
                        { "or_id", or_codigo },
                        { "us_id", us_codigo }
                    }
                    };

                reportViewer.SetReportSourceAsync(reporte);
            }
            else
            {
                Console.WriteLine("reportViewer es null.");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error al actualizar el reporte: {e.Message}");
        }
    }
}
