@using ActivosControles.util.Respuesta;
@inject Blazored.SessionStorage.ISessionStorageService session
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ActivosControles</a>

      



        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        
    </div>
</div>

@if (isLoading)      
{
    <p>Cargando sesión...</p>
}
else
{
    @if (sesionusua != null)
    {
        @if (sesionusua.us_tipo.Equals("1"))
        {
            <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
                <nav class="flex-column">


                    <a href="#" @onclick="Logout" class="btn btn-outline-light">Cerrar sesión</a>


                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Activos
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="listadoActivos">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Listado Activos
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="reportviewer">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Categorizar Activos
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="nuevoEvaluador">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Evaluadores
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="informacion">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Rúbrica
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="fetchdata">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Evaluación
                        </NavLink>
                    </div>
                    
                    
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="reportadmin">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Valorización
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="reportfinal">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Inventario Activos
                        </NavLink>
                    </div>

                </nav>
            </div>
        }
        else
        {
            <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
                <nav class="flex-column">


                    <a href="#" @onclick="Logout" class="btn btn-outline-light">Cerrar sesión</a>


                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="informacion">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Rúbrica
                        </NavLink>
                    </div>


                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="fetchdata">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Evaluación
                        </NavLink>
                    </div>


                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="reporvalorizacion">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Valorización
                        </NavLink>
                    </div>



                </nav>
            </div>
        }
    }
    else
    {
        <p>Sesión no iniciada o no válida.</p>
    }
}

@code {
    private bool collapseNavMenu = true;
    private usuariosesion? sesionusua;
    private bool isLoading = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await inicializarListaAsync();
    }

    private async Task inicializarListaAsync()
    {
        sesionusua = await session.GetItemAsync<usuariosesion>("SesionUsuario");
        isLoading = false;
        StateHasChanged(); // Forzar el renderizado después de cargar la sesión
    }

    private async Task Logout()
    {
        await session.RemoveItemAsync("SesionUsuario");
        Navigation.NavigateTo("/login");
    }
}
